:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #e866ec;
}

.lazy-dater {
  background-image: url('./components/images/screenshot-lazy-dater.png') !important;
}