.footer {
  text-align: center;
}

.centered {
  color:white;
  display: inline-block;
  text-align: center;
}

/* .my-info {
  display:flex;
  justify-content: space-around;
  background-color:rgb(141, 141, 141);
  height: 300px;
  margin: 10px;
  padding: 80px;
  
} */

.lazy-dater {
  background-image: url('./components/images/screenshot-lazy-dater.png') !important;
  background-size: cover;
  background-position: center;
  max-width: 700px;
  height: auto;
  margin: 10px;
  padding: 80px

}

.cartoonify {
  background-image: url('./components/images/loginpage.png') !important;
  background-size: cover;
  background-position: center;
  max-width: 700px;
  height: auto;
  margin: 10px;
  padding: 80px

}

.jate-thing {
  background-image: url('./components/images/JATE.png') !important;
  background-size: cover;
  background-position: center;
  color:white;
  max-width: 700px;
  height: auto;
  margin: 10px;
  padding: 80px

}

.employee-track {
  background-image: url('./components/images/MySql.png') !important;
  background-size: cover;
  background-position: center;
  color:rgb(247, 249, 248);
  max-width: 700px;
  height: auto;
  margin: 10px;
  padding: 80px

}

